<!DOCTYPE html>
@{
    var controllerName = string.Empty;
    object controllerObj;
    var actionName = string.Empty;
    object actionObj;

    if (ViewContext.RouteData.Values.TryGetValue("controller", out controllerObj))
    {
        controllerName = controllerObj.ToString();
    }

    if (ViewContext.RouteData.Values.TryGetValue("action", out actionObj))
    {
        actionName = actionObj.ToString();
    }
    string thisPage = (controllerName.Equals("Home")) ? actionName : controllerName;
    if (thisPage.Equals("MemberSouvenirs"))
    {
        thisPage = "Souvenirs";
    }
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maori Souvenir Shopping</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css"> <!-- Gem style -->

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img id="icon" src="~/images/HomeIcon.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 18px">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-controller="AdminApplicationUsers" asp-action="Index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Members</a></li>
                        <li><a asp-area="" asp-controller="Orders" asp-action="Index"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Orders</a></li>
                        <li><a asp-area="" asp-controller="Souvenirs" asp-action="Index"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Souvenirs</a></li>
                        <li><a asp-area="" asp-controller="Categories" asp-action="Index"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Categories</a></li>
                        <li><a asp-area="" asp-controller="Suppliers" asp-action="Index"><span class="glyphicon glyphicon-oil" aria-hidden="true"></span> Suppliers</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="MemberSouvenirs" asp-action="Index"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Souvenirs</a></li>
                    }
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Contact</a></li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <div class="container body-content">
        @if (!thisPage.Equals("Index"))
        {
            <div>
                <p style="margin:1% 7%;"><a asp-controller="Home" asp-action="Index"> Home</a> > @thisPage</p>
            </div>
        }


        @RenderBody()
        <hr />
        <div>
            @*@if (!User.IsInRole("Admin") && !((ViewData["NoCart"] != null && ViewData["NoCart"].Equals("true"))))*@
            @if (!User.IsInRole("Admin"))
            {
                <div id="cd-cart-trigger"><a class="cd-img-replace" href="/#0">Cart</a></div>
                <div id="cd-shadow-layer"></div>
                @await Component.InvokeAsync("ShoppingCartViewModel")
            }
        </div>
        <footer class="bg-light" style="margin:20px -15px -15px -15px;">
            <div class="container">
                <div class="row text-muted">
                    <div class="col-md-3">
                        <h5>Website Map</h5>
                        <hr />
                        <ul class="alert-light list-unstyled bg-light">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                            <li><a asp-area="" asp-controller="MemberSouvenirs" asp-action="Index"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Souvenirs</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>About Author</h5>
                        <hr />
                        <ul class="alert-light list-unstyled bg-light">
                            <li><span class="glyphicon glyphicon-user"> </span> Bing Liang</li>
                            <li><span class="glyphicon glyphicon-info-sign"></span> ID: 1487191</li>
                            <li><span class="glyphicon glyphicon-education"></span> GD in Computing</li>
                            <li><span class="glyphicon glyphicon-calendar"></span> ISCG 7420</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>About Website</h5>
                        <hr />
                        <ul class="alert-light list-unstyled bg-light">
                            <li><span class="glyphicon glyphicon glyphicon-globe"></span> 183 Bld, 139 Carrington Rd, Mt Albert, Auckland, NZ</li>
                            <li><span class="glyphicon glyphicon-phone-alt"></span> 0211234567</li>
                            <li><span class="glyphicon glyphicon-envelope"></span> support@maorisouvenir.com</li>
                            <li>&copy; All rights reserved by Bing Liang <img id="icon" src="~/images/HomeIcon-Black.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/js/main.js"></script> <!-- Gem jQuery -->
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @*@Scripts.Render("~/js/jquery.unobtrusive-ajax.min.js")*@
    @RenderSection("Scripts", required: false)
</body>
</html>
