@{
    ViewData["Title"] = "About";
}

<hr />
<h1 class="text-center">Quality Souvenir Online Shop</h1>
<h2 class="text-center">-- get your memoral souvenirs here</h2>

<h3 class="text-center"> Our website provides characteristic Maori souvenirs which are made in New Zealand.</h3>
<h3 class="text-center"> Our company established in 2018 New Zealand.</h3>
<h3 class="text-center"> Our products are collected from honourable Kiwis and well-made.</h3>
<h3 class="text-center"> Our staffs are committed to providing customers with the best service experience</h3>
<br />

<img src="~/images/maori-all-blacks.png" alt="all-black" />

